{% extends 'layouts/master.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sign_in/css/register.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'layouts/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="main">
        <div class="login-form">
            <h2 class="login-title">
                Зарегистрироватся
            </h2>
            <div class="alert"></div>
            <form>
                <div class="form-item">
                    <label>Имя пользователя</label>
                    <input type="text" placeholder="Имя пользователя" name="username" id="username">
                </div>
                <div class="form-item">
                    <label>Электронная почта</label>
                    <input type="text" placeholder="Адрес электронной почты" name="email" id="email">
                </div>
                <div class="form-item">
                    <label>Пароль</label>
                    <input type="password" placeholder="Пароль" name="password" id="password">
                </div>
                <div class="form-item">
                    <button type="button" class="login-button"
                    onclick="register(username.value, email.value, password.value)">Зарегистрироватся</button>
                    <p class="form-signin">
                        Уже есть аккаунт? <a href="{% url 'login' %}" class="btn btn-secondary">Войти</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="right-banner">
            <img class="right-banner__svg" src="{% static 'sign_in/assets/banner.svg' %}" alt="banner">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'sign_in/js/register.js' %}"></script>
{% endblock %}
