* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  font-size: 16px; }

.main {
  max-width: 1366px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative; }

.active {
  color: #E44764; }

.red {
  color: #AF0303; }

/*

FILE STRUCTRE:
LOGIN / REGISTER
HEADER

<FRONTPAGE
HEAD
MAIN
FOOTER
FRONTPAGE>

*/
.login-title {
  font-size: 2em;
  font-weight: 600;
  color: #E44764;
  position: absolute;
  top: 10px; }

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 10px; }

label {
  color: #494949; }

input {
  margin-top: 10px;
  width: 400px;
  padding: 15px 10px;
  font-size: 1.125em;
  color: #494949;
  border-radius: 6px;
  border: 1px solid #494949;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

input:active,
input:focus {
  border: 1px solid #E44764; }

.login-button {
  padding: 10px 30px;
  border-radius: 5px;
  color: #E44764;
  font-size: 1.125em;
  color: #494949;
  background-color: white;
  border: 1px solid #E44764;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.form-signin {
  margin-top: 20px;
  color: #494949;
  font-size: 0.75em; }
  .form-signin a {
    color: #E44764;
    font-weight: 500; }

.login-button:hover,
.login-button:focus {
  color: white;
  -webkit-box-shadow: inset -4.5em 0 0 0 #E44764, inset 4.5em 0 0 0 #E44764;
  box-shadow: inset -4.5em 0 0 0 #E44764, inset 4.5em 0 0 0 #E44764; }

.container {
  max-width: 1366px;
  margin: 0 auto;
  position: relative; }

.header {
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #494949;
  background: white; }
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    max-width: 1366px;
    width: 100%;
    -ms-grid-columns: .5fr 1fr;
    grid-template-columns: .5fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .header-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    color: #494949; }
  .header-enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-enter__register {
      color: #E44764;
      font-size: 1.125em;
      border: none;
      background: none;
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      border-radius: 10px; }
    .header-enter__login {
      color: #494949;
      font-size: 1.125em;
      border: 1px solid #E44764;
      padding: 15px 10px;
      border-radius: 5px;
      background: none;
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .header-enter__login:hover, .header-enter-login:active {
      color: white;
      -webkit-box-shadow: inset -5.5em 0 0 0 #E44764, inset 5.5em 0 0 0 #E44764;
      box-shadow: inset -5.5em 0 0 0 #E44764, inset 5.5em 0 0 0 #E44764; }
    .header-enter__register:hover, .header-enter-register:active {
      color: #494949;
      -webkit-animation: pulse 1s;
      animation: pulse 1s;
      -webkit-box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 1em rgba(255, 255, 255, 0); }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #E44764;
    box-shadow: 0 0 0 0 #E44764; } }

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #E44764;
    box-shadow: 0 0 0 0 #E44764; } }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 450px;
    font-size: 1.125em;
    list-style-type: none; }
  .header a {
    color: #494949;
    font-size: 1.125em;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .header a:hover {
    color: #E44764; }

header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 5px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px; }

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%; }

header .menu-icon .navicon:before {
  top: 5px; }

header .menu-icon .navicon:after {
  top: -5px; }

header .menu-btn {
  display: none; }

header .menu-btn:checked ~ .menu {
  max-height: 240px; }

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

.frontpage {
  max-width: 100vw;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh; }
  .frontpage-head {
    padding: 0 277px;
    min-height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .frontpage-head__content {
      max-width: 700px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      min-height: 250px; }
      .frontpage-head__content h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 4em; }
      .frontpage-head__content p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.25em;
        max-width: 650px; }
    .frontpage-head__img {
      max-width: 640px; }
    .frontpage-head img {
      width: 100%; }

.order {
  padding: 100px 277px 60px 277px;
  width: 100vw;
  min-height: 860px;
  background: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .6fr .4fr;
  grid-template-columns: .6fr .4fr;
  place-items: center; }
  .order-text {
    list-style-type: none;
    font-size: 1.2em;
    color: #494949; }
    .order-text__item {
      margin: 20px 0; }
  .order-button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    font-size: 1.6em;
    color: #E44764;
    padding: 25px;
    border-radius: 10px;
    background: white;
    border: none;
    -webkit-box-shadow: -20px -20px 40px #FAFBFF, 20px 20px 40px #A6ABBD;
    box-shadow: -20px -20px 40px #FAFBFF, 20px 20px 40px #A6ABBD; }
  .order-button:active, .order-button:hover {
    color: white;
    background: #E44764; }
  .order-card {
    padding: 15px 25px;
    background: white;
    border-radius: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .2fr 1fr;
    grid-template-columns: .2fr 1fr;
    grid-column-gap: 20px;
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-grid-column-align: start;
    justify-self: start;
    -webkit-box-shadow: -20px -20px 40px #FAFBFF, 20px 20px 40px #A6ABBD;
    box-shadow: -20px -20px 40px #FAFBFF, 20px 20px 40px #A6ABBD; }
    .order-card__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .order-card__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }

.card-name {
  font-weight: normal;
  font-size: 1.375em;
  color: #494949;
  margin-bottom: 10px; }

.card-location {
  margin-bottom: 10px;
  color: #E44764;
  font-weight: normal;
  font-size: 1em; }

.card-number {
  text-align: end;
  font-weight: 500;
  font-size: 1em;
  color: #04AA14;
  margin-bottom: 35px; }

.card-title {
  font-weight: normal;
  font-size: 1.375em; }

.card-link {
  font-weight: normal;
  font-size: 1em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #B6B6B6;
  margin-bottom: 10px; }

.card-amount {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 20px; }

.card-description {
  font-style: italic;
  font-weight: 500;
  font-size: 1.25em;
  color: #494949;
  margin-bottom: 35px; }

.card-button {
  background: none;
  padding: 10px 20px;
  border: 1px solid #E44764;
  border-radius: 5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #494949;
  font-size: 1.375em;
  -ms-flex-item-align: end;
  align-self: end;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  .card-button .iconify {
    margin-left: 10px; }

.card-button:active, .card-button:hover {
  color: white;
  -webkit-box-shadow: inset -5.5em 0 0 0 #E44764, inset 5.5em 0 0 0 #E44764;
  box-shadow: inset -5.5em 0 0 0 #E44764, inset 5.5em 0 0 0 #E44764; }
